<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Subject</p>
        <p>
          Dear {{name}}, Web Check-in is Successful for your upcoming flight from {{flightFrom}} to {{flightTo}}.
        </p>
        <p>
          Flight Details:
          <ul>
            <li>Departure Time  :  {{departureTime}}</li>
            <li>Arrival Time : {{arrivalTime}}</li>
          </ul>
        </p>
      </div>
</body>
</html>


